# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
/build-RosindellEtAl2015-Desktop-Debug/*
/build-RosindellEtAl2015-Desktop-Release/*
/build-RosindellEtAl2015Console-Desktop-Debug/*
/build-RosindellEtAl2015Console-Desktop-Release/*
/build-RosindellEtAl2015Desktop-Desktop-Debug/*
/build-RosindellEtAl2015Desktop-Desktop-Release/*
